html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "HK Grotesk", sans-serif;
  color: #222;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.7;
  display: flex;
  align-items: center;
  background-color: black;
}
img {
  max-width: 100%;
  height: auto;
}
::selection {
  text-shadow: none;
  color: #000;
  background: #fff9cd;
}
::-moz-selection {
  text-shadow: none;
  color: #000;
  background: #fff9cd;
}
/* Loader */
html {
  overflow: hidden;
}
html.loaded {
  overflow: auto;
}
